<app-generic-list (pageChangeEvent)="changePage($event)"
                  [data]="tags$|async|toGenericData"
                  [numberOfElements]="tagsCount$|async"
                  [pageSize]="pageSize"
                  [displayKey]="'name'"
                  [filterable]="true"
                  [filterFunction]="filterTag"
                  [deletable]="true"
                  [deleteFunction]="delete"
                  [addable]="true"
                  [addFunction]="addTagModal"></app-generic-list>
