<nav class="navbar navbar-expand-sm navbar-light bg-light mb-50 static">
  <a class="navbar-brand" routerLink="home">The Post Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div *ngIf="!(user$ | async)" class="row navbar-nav mr-0 ml-auto">
      <div class="col">
        <a class="nav-link" routerLink="login" (click)="clearSessionError()">
          Login
        </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="register" (click)="clearSessionError()">
          Register
        </a>
      </div>
    </div>
    <div *ngIf="(user$ | async )" class="row navbar-nav mr-0 ml-auto">
      <div class="col">
        <a class="nav-link pointer" (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div *ngIf="(sessionError$ | async )" class="alert alert-danger">
    {{sessionError$ | async}}
  </div>
  <div class="row">
    <div class="col-6 col-sm-2 flex-column">
      <div *ngIf="(user$ | async )" class="sidebar">
        <div class="list-header">
          Posts section:
        </div>
        <div class="list-group-flush">
          <a routerLink="posts/list" class="list-group-item list-group-item-action">
            Manage
          </a>
          <a routerLink="posts/create" class="list-group-item list-group-item-action">
            Create
          </a>
        </div>
        <hr class="sidebar-separator">
        <div *ngIf="user$ | async | userIsAdmin" class="list-header">
          Tags section:
        </div>
        <div *ngIf="user$ | async | userIsAdmin" class="list-group-flush">
          <a routerLink="tags/list" class="list-group-item list-group-item-action">
            Manage
          </a>
          <a routerLink="tags/create" class="list-group-item list-group-item-action">
            Create</a>
        </div>
      </div>
    </div>
    <div class="col-8 margin-top">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

