

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

.sidebar{
    border: 2px solid #dddddd;
    border-radius: 3px;
    margin-top:50px;
}

  .list-header{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 600;
    text-decoration: underline;
    font-size: 18px;
  }

.margin-top{
    margin-top:50px;
}

.margin-bot{
    margin-bottom: 30px;
}

.static{
    position: static;
}