<nav class="navbar navbar-expand-lg navbar-light bg-light mb-50 static">
  <a class="navbar-brand" href="#">The Post Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div *ngIf="!loggedIn" class="row navbar-nav mr-0 ml-auto">
      <div class="col">
        <a class="nav-link" routerLink="login">
          Login
        </a>
      </div>
      <div class="col">
        <a class="nav-link" routerLink="register">
          Register
        </a>
      </div>
    </div>
    <div *ngIf="loggedIn" class="row navbar-nav mr-0 ml-auto">
      <div class="col">
        <a class="nav-link pointer" (click)="logout()">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 flex-column">
      <div *ngIf="loggedIn" class="sidebar">
        <div class="list-header">
          Posts section:
        </div>
        <div class="list-group-flush">
          <a routerLink="list" class="list-group-item list-group-item-action">
            Manage
          </a>
          <a routerLink="create" class="list-group-item list-group-item-action">
            Create</a>
        </div>
        <div *ngIf="admin" class="list-header">
          Tags section:
        </div>
        <div *ngIf="admin" class="list-group-flush">
          <a routerLink="list" class="list-group-item list-group-item-action">
            Manage
          </a>
          <a routerLink="create" class="list-group-item list-group-item-action">
            Create</a>
        </div>
      </div>
    </div>
    <div class="col-8 margin-top">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
