<app-generic-list (pageChangeEvent)="changePage($event)"
                  [data]="posts$|async|toListItem"
                  [numberOfElements]="postsNumber$|async"
                  [pageSize]="pageSize"
                  [displayKey]="'name'"
                  [editable]="true"
                  [deletable]="true"
                  [filterable]="true"
                  [editFunction]="edit"
                  [deleteFunction]="delete"
                  [addable]="true"
                  [addFunction]="addPostModal"
                  [filterFunction]="filterPost"
                  [clickable]="true"
                  [clickFunction]="click"></app-generic-list>

