<app-generic-list-v2 (pageChangeEvent)="changePage($event)"
                     (elementAddedEvent)="addPostModal()"
                     (elementClickedEvent)="click($event)"
                     (elementDeletedEvent)="delete($event)"
                     (elementEditedEvent)="edit($event)"
                     [data]="posts$|async|toListItem"
                     [numberOfElements]="postsNumber$|async"
                     [pageSize]="pageSize"
                     [displayKey]="'name'"
                     [editable]="true"
                     [deletable]="true"
                     [filterable]="true"
                     [addable]="true"
                     [filterFunction]="filterPost"
                     [clickable]="true"></app-generic-list-v2>

