<div *ngIf="currentUser" class="content-section">
  <div class="big-text text-center">
    Welcome to our post book <strong>{{currentUser.email}}</strong> !
  </div>
  <div class="mt-4 big-text ml-4 text-justify">
    You can navigate the site to your favorite sections by using the links on the page!
  </div>
  <hr>
  <div class="big-text text-justify">
    In the meantime here is a fun fact about <strong>rhinos</strong>:
    <hr>
    &nbsp;&nbsp;&nbsp;
    The names of black and white rhinos are misleading – as both are actually grey. The white rhino is said to have
    gotten its name from the Afrikaans word for wide (‘wyd’), referring to its wide, square lip (in contrast, black
    rhinos have a pointy upper lip). Early English explorers mistook this word for ‘white’ and consequently named this
    species ‘white’ rhino, and the other ‘black’ rhino to differentiate.
    Since christmas is coming <a href="https://support.wwf.org.uk/adopt-a-rhino">here</a> you can adopt a rhino.
  </div>
</div>

